*{
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button{
    cursor: pointer;
}

ul{
    list-style-type: none;
    vertical-align: middle;
    
}
li{
    margin: 2px;
    border: 2px solid;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    
}
footer{
    text-align: center;
    
    
}
h1{
    text-align: center;
}
div{
    height: 70vh;
    
}
header{
    height: 20vh;
}